@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spinner {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-bottom: 5px solid black;
  border-top: 5px solid transparent;
  border-left: 5px solid black;
  border-right: 5px solid black;
  animation: spin 1s linear infinite;
}
